# Python artifacts
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# Streamlit
.streamlit/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# MySQL / SQLite files
*.db
*.sqlite3

# Environment files
.env
.env.local